.logo {
  width: 50px;
}

.image_ligne {
  width: 30px;
}

.ais-Hits-item {
  border: none;
  box-shadow: none;
}

.widthfix {
  width: 400px;
}

.map {
  margin: auto;
  width: 400px !important;
  height: 300px;
  margin-left: 15px;
}

.card-item {
  min-width: 230px;
}

.ais-Hits-list {
}

.ais-Hits-item {
  margin: auto;
  float: left;
  min-width: 250px;
}
