.logo {
  width: 50px;
}

.image_ligne {
  width: 30px;
}

.ais-Hits-item {
  border: none;
  box-shadow: none;
}

/* .navbar-light {
  background: #e3f2fd;
} */

.vert-souris {
  background: #52FCB1 !important;
}

.orange {
  color: #fcc652 !important;
}

.violet {
  color: #A02ECC !important;
}

.rouge {
  color: #FF0000 !important;
}

.widthfix {
  width: 400px;
}

.map {
  margin: auto;
  width: 400px !important;
  height: 300px;
  margin-left: 15px;
}

.card-item {
  min-width: 230px;
}

.ais-Hits-list {
}

.ais-Hits-item {
  margin: auto;
  float: left;
  min-width: 250px;
}

.ais-RefinementList {
  margin-top:10px;
}

.ais-RefinementList-labelText {
  margin-left: 5px;
}

.ais-CurrentRefinements-category {
  float: left;
}

@media (max-width:992px) {

  .display {
    display:none !important;
  }

  .text-center {
    margin: auto;
  }

}

@media (max-width:740px) {

  .text-center {
    margin: auto;
  }

  .display {
    display:none;
  }

}
